.content {
    grid-area: content;
    
    margin: 5rem 0;
    padding: 8rem 0 5rem 0;
    width: 63vw;
    border-radius: 2px;
    
    background-color: $color-secondary-2;
    box-shadow: 0px 0px 5px $color-primary-2;

    display: grid;
    grid-template-columns: .5fr 4fr .5fr;
    grid-template-rows: auto;
    grid-template-areas:
        ". contentTitle ."
        ". pageContent ."
        ". post ."
        ". paginationLinks .";

    @media only screen and (max-width: $bp-l-2) {
        margin: 0;
        width: 75vw;
    }

    @media only screen and (max-width: $bp-m-1) {
        width: 80vw;
    }

    @media only screen and (max-width: $bp-m-2) {
        width: 100%;
        padding: 3rem 0 2rem 0;
    }
    
    @media only screen and (max-width: $bp-s-1) {
        grid-template-columns: .2fr 4fr .2fr;
    }

    &__title {
        grid-area: contentTitle;
        margin-bottom: 3rem;

        &-count {
            display: inline-block;
            font-size: 1.6rem;
            font-style: italic;
            font-weight: 300;
            text-transform: lowercase;
            transform: translateY(-1.5rem);

            @media only screen and (max-width: $bp-m-2) {
                display: block;
                margin-top: -3rem;
                transform: none;
            }
        }

        @media only screen and (max-width: $bp-m-2) {
            text-align: center;
        }
    }

    &__page {
        grid-area: pageContent;

        &--post {
            grid-area: post;
        }

        &--text {
            font-size: 1.9rem;
            margin-bottom: 3rem;
        }

        &--list {
            margin-left: 6rem;
        }

        
        &--highlight {
            font-weight: 400;
            font-size: 2.5rem;
            font-style: italic;
            margin-bottom: 3rem;
            font-weight: 300;

            @media only screen and (max-width: $bp-m-2) {
                text-align: center;
            }
        }

        &--topics {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            &-figure {
                cursor: pointer;

                margin: 1rem 2rem 2rem 3rem;

                &:hover {
                    .content__page--topics-figure-img {
                        transform: translateY(-.3rem);
                        box-shadow: 0px 0px 15px $color-primary-2;
                        transition: all .3s;
                    }
                    .content__page--topics-figure-title {
                        // transform: translateY(-.5rem);
                        text-shadow: 0px 0px 15px $color-primary-3;
                        transition: all .3s;
                    }
                }
                
                &-img {
                    width: 30rem;
                    // margin: 1rem 2rem 4rem 3rem;
                    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
                    border-radius: 2px;
                    filter: grayscale(50%);

                    transition: all .3s;
                }

                &-title {
                    text-align: center;
                    font-size: 1.8rem;
                    font-weight: 300;
                    transition: all .3s;

                    &-tag {
                        background-color: $color-primary;
                        color: $color-primary-3;
                        margin-left: .5rem;
                        font-size: 1.2rem;
                        border: 1px solid $color-primary-2;
                        padding: .5rem;
                    }
                }
            }

        }
    }
}